<% if current_user.devices.empty? %>
  <div>You don't seem to have any MAC-addresses defined, go to your <%= link_to "user page", edit_user_path(current_user) %> and add some!</div>
<% end %>

<h1>Active sessions</h1>
<% @sessions.each do |session| %>
  <h3>
    <%= link_to "user: #{session.user_id}", session.user %>
  </h3>
  <%= session.start_time.strftime('%F %T') %> - <%= session.end_time.strftime('%F %T') %> (<%= distance_of_time_in_words_to_now session.start_time %>)

<% end %>
