<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="message-warning">
      <h3><%= @user.errors.count %> errors occured while saving the device list:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>-
      </ul>
    </div>
  <% end %>
  <div class="devices">
    <%= link_to_add_fields "Add Device", f, :devices %>
    <%= f.fields_for :devices do |builder| %>
      <%= render 'device_fields', f: builder %>
    <% end %>
  </div>
  <%= link_to 'Back', :back, class: ['mdl-button', 'mdl-js-button', 'mdl-button--colored', 'mdl-js-ripple-effect'] %>
  <%= f.submit class: ['mdl-button', 'mdl-js-button', 'mdl-button--raised', 'mdl-js-ripple-effect'] %>
<% end %>
