<h1><%= @user.nick %></h1>
<section class="profile">

<% if @user.devices.empty? %>
  <p>You haven't added any devices yet...</p>
<% else %>
  <table>
  <% @user.devices.each do |d| %>
    <tr>
      <td><%= d.address %></td>
      <td><%= device_name d.device_name %></td>
    </tr>
  <% end %>
  </table>
<% end %>

  <% if @user == current_user %>
    <% if @user.devices.empty? %>
      <%= link_to "Add device", edit_user_path(@user), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    <% else %>
      <%= link_to "Manage devices", edit_user_path(@user), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    <% end %>
  <% end %>
</section>
