<h1><%= @user.nickname %></h1>
<section class="profile">

<% if @user.devices.empty? %>
  <p>You haven't added any devices yet...</p>
<% else %>
  <table class="mdl-data-table mdl-shadow--1dp">
      <thead>
          <tr>
              <th class="mdl-data-table__cell--non-numeric">MAC-Address</th>
              <th class="mdl-data-table__cell--non-numeric">Device description</th>
          </tr>
      </thead>
  <% @user.devices.each do |d| %>
    <%= content_tag :tr, class: d.sessions.active.exists? ? :active : nil do %>
      <td class="mac-address"><%= d.address %></td>
      <td class="mdl-data-table__cell--non-numeric"><%= device_name d.device_name %></td>
    <% end %>
  <% end %>
  </table>
<% end %>

  <% if @user == current_user %>
    <% if @user.devices.empty? %>
      <%= link_to "Add device", edit_user_path(@user), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    <% else %>
      <%= link_to "Manage devices", edit_user_path(@user), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    <% end %>
  <% end %>
</section>
