
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
<tr class="header-row">
  <td >
 	#
  </td>
  <td class="user-row">
  	Name
  </td>
  <td>
      Total time
  </td>
  <td>
      Score
  </td>
</tr>
<% @total_time.each_with_index do |user_session, index| %>
  <%= content_tag :tr, class: ('active' if user_active?(user_session)) do %>
    <td><%= index+1 %></td>
    <td class="user-row">
        <%= link_to User.nick(user_session.user_id), stats_path(user_session.user_id) %>
    </td>
    <td>
        <%= seconds_to_units(user_session.total_time) %>
    </td>
    <td>
        <%= seconds_to_score(user_session.total_time) %>
    </td>
  <% end %>
<% end %>
</table>
<section class="show-section">
  <div class="graph-container">
    <h2 class="graph-header">Hours at the Hub (all users)</h2>
    <canvas id="chart" class="stats-graph" data-url="/stats/hours.json" width="2304" height="300"></canvas>
  </div>
</section>

