<h1><%= @user.nick %><h1>
<h2>Last session</h2>
<h3>
<% if @session %>
	<%= 'Right now for ' if @session.end_time > Time.zone.now %>
	<%= @session.end_time.in_time_zone("Stockholm").to_s(:short) + " for " if @session.end_time <= Time.now %>
	<%= seconds_to_words(@last_session_duration)  %> 
<% end %>
</h3>
<h2>Total sum</h2>
<h3><%= seconds_to_units(@total_time) if @total_time %> </h3>

<h2>Hours at the Hub</h2>
<canvas id="chart" class="stats-graph" data-url="/stats/hours.json?user_id=<%= @user.cid %>"  height="300"></canvas>

<% if current_user == @user %>
<h2>Previous sessions (only visiable to yourself)</h2>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tbody>
		<% @user_sessions.each do |session| %>
            <tr>
                <td class="time-cell">
                	<%= session.end_time.in_time_zone("Stockholm").to_s(:short) + " for " %>
                	<%= seconds_to_words(session.end_time - session.start_time)  %> 
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>
