<h1><%= @user.nick %></h1>
<%= link_to "Position: #{@user.ranking}", all_stats_path(anchor: @user.id) %><br/>
Score: <%= seconds_to_score(@total_time) %>
<section class="show-section">
    <div class="info-dashboard">
        <% if @session %>
            <%= info_box 'Last session' do %>
                <%= 'Right now for ' if @session.end_time > Time.zone.now %>
                <% if @session.end_time <= Time.zone.now %>
                        <%= distance_of_time_in_words_to_now(@session.end_time.in_time_zone("Stockholm")).capitalize %> ago <br>
                    <%= @session.end_time.in_time_zone("Stockholm").to_s(:short) %> <br> for
                <% end %>
                <%= seconds_to_words(@last_session_duration)  %>
            <% end %>
        <% end %>

        <%= info_box 'Today' do %>
            <%= human_time_today %>
        <% end %>

        <% if @total_time %>
            <%= info_box 'Total time' do %>
                <%= seconds_to_precise_words(@total_time) %><br />(<%= seconds_to_units(@total_time) %>)
            <% end %>
        <% end %>

        <% if @longest_session %>
            <%= info_box 'Longest session' do %>
                <%= seconds_to_precise_words(@longest_session) %>
            <% end %>
        <% end %>
    </div>

    <div class="graph-container">
        <h2 class="graph-header">Hours at the Hub</h2>
        <canvas id="chart" class="stats-graph" data-url="/stats/hours.json?user_id=<%= @user.cid %>"  height="300"></canvas>
    </div>
</section>



<% if current_user == @user %>
<h2>Your 10 last sessions</h2>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tbody>
		<% @user_sessions.take(10).each do |session| %>
            <tr>
                <td class="time-cell">
                	<%= session.start_time.in_time_zone("Stockholm").to_s(:short) %> for
                	<%= seconds_to_words(session.end_time - session.start_time)  %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>
