<h1 class="user-name-header"><%= @user.nick %><h1>

<div class="info-dashboard">
    <% if @session %>
        <div class="info-container">
            <h2 class="info-header">Last session</h2>
            <div class="info-text">
                <%= 'Right now for ' if @session.end_time > Time.zone.now %>
                <% if @session.end_time <= Time.now %>
                        <%= distance_of_time_in_words_to_now(@session.end_time.in_time_zone("Stockholm")).capitalize %> ago <br>
                    <%= @session.end_time.in_time_zone("Stockholm").to_s(:short) + " for " %> <br>
                <% end %>
                <%= seconds_to_words(@last_session_duration)  %> 
            </div>
        </div>
    <% end %>

    <% if @total_time %>
        <div class="info-container">
            <h2 class="info-header">Total time</h2>
            <div class="info-text">
                <%= seconds_to_units(@total_time) %>
            </div>
        </div>
        <div class="info-container">
            <h2 class="info-header">Score</h2>
            <div class="info-text">
                <%= seconds_to_score(@total_time) %>
            </div>
        </div>
    <% end %>

    <% if @longest_session %>
        <div class="info-container">
            <h2 class="info-header">Longest session</h2>
            <div class="info-text">
                <%= seconds_to_units(@longest_session) if @longest_session %>
            </div>
        </div>
    <% end %>
</div>

<div class="graph-container">
    <h2 class="graph-header">Hours at the Hub</h2>
    <canvas id="chart" class="stats-graph" data-url="/stats/hours.json?user_id=<%= @user.cid %>"  height="300"></canvas>
</div>




<% if current_user == @user %>
<h2>Previous sessions (only visiable to yourself)</h2>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tbody>
		<% @user_sessions.each do |session| %>
            <tr>
                <td class="time-cell">
                	<%= session.end_time.in_time_zone("Stockholm").to_s(:short) + " for " %>
                	<%= seconds_to_words(session.end_time - session.start_time)  %> 
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>
