<nav>
    <ul class="menu">
        <% if current_user %>
            <li class="<%= 'active' if current_page?(current_user) %>">
                <%= link_to_unless_current 'Me', current_user %>
            </li>
        <% end %>
            <li class="<%= 'active' if current_page?(sessions_path) or current_page?(root_path) %>">
                <%= link_to_unless (current_page?(sessions_path) or current_page?(root_path)), 'Smurfs in the Hubb', sessions_path %>
            </li>
            <li class="<%= 'active' if current_page?(all_stats_path) %>">
                <%= link_to_unless_current 'Stats', all_stats_path %>
            </li>
        <% if current_user %>
            <li class="<%= 'active' if current_page?(stats_path(current_user)) %>">
                <%= link_to_unless_current 'My stats', stats_path(current_user) %>
            </li>
        <% end %>
    </ul>
</nav>
