<!DOCTYPE html>
<html>
<head>
  <title>HubbIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'Who is in the hubb?', sessions_path %></h1>
    <%= render 'layouts/navbar' %>
  </header>
  <%= render 'layouts/messages' %>
  <div id="wrapper">
<%= yield %>
  </div>
</body>
</html>
