<!DOCTYPE html>
<html>
<head>
  <title>HubbIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/css?family=Roboto:400,500,300,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 id="main-title"><%= link_to 'Who is in the Hubb?', sessions_path , class: 'title-link'%></h1>
    <%= render 'layouts/navbar' %>
  </header>
  <%= render 'layouts/messages' %>
  <div id="wrapper">
<%= yield %>
  </div>
</body>
</html>
